<div class="p97-single-select">
    <div ng-bind-html="renderHtml(question.body)"></div>
    <div class='list'>
      <ion-checkbox ng-repeat="choice in localChoices"
                    ng-hide="(question.options.hideInput === true)"
                    ng-change="changeSelected(choice)"
                    ng-value="choice.value"
                    ng-model="choice.checked"
                    ng-required="question.option.required"
                    ng-class="{ 'padding-small': choice.img}">

          <div class="item item-thumbnail-left no-border padding-small" ng-if="choice.img">
            <img class="item item-image" ng-src="{{choice.img}}"/>
            <span class='item no-border'>{{choice.verbose}}</span>
          </div>
          <div ng-hide="choice.img">
            {{choice.verbose}}
          </div>

      </ion-checkbox>

      <div class="item item-divider warning" ng-show="errors.length>0">
          <div class="error" ng-repeat="error in errors" class="error" >{{error}}</div>
      </div>
    </div>
</div>
