<div class="p97-single-select">
  <div>
      <label ng-bind-html="renderHtml(question.body)"></label>
      <div class="select-wrapper">
        <label class="button-select btn-lg" 
          ng-repeat="choice in localChoices" 
          ng-class="{'selected': choice.checked}">

          <input type="checkbox"
            ng-hide="(question.options.hideInput === true)"
            ng-change="changeSelected(choice)"
            ng-value="choice.value"
            ng-model="choice.checked"
            ng-required="question.option.required"
          />
          <span class="glyphicon glyphicon-ok-sign" 
                aria-hidden="true" 
                ng-if="choice.checked">
          </span>&nbsp;{{choice.verbose}}

        </label>
        
        <div ng-show="showOtherInput">
            <input type="text"
                ng-blur="otherValueBlur()"
                ng-model="otherValue"
                placeholder="'Other' Choice">
        </div>

        <div class="item item-divider warning" ng-show="errors.length>0"> 
            <div class="error" ng-repeat="error in errors" class="error" >{{error}}</div>
        </div>
      </div>
  </div>
</div>