<div class="p97-geojson">
    <div ng-bind-html="renderHtml(question.body)"></div>
    <div class="list">
        
        <label class="item item-input" ng-hide="(question.options.hideInput === true)">

            <textarea 
                    placeholder="{{ question.label }}" 
                    ng-model="value" 
                    ng-required='question.options.required'
                    ng-class="{'error':errors.length>0}"
            ></textarea>
        </label>
        <div ng-repeat="error in errors" class="error" ng-show="errors.length>0">{{error}}</div>
    </div>
</div>