<div class="jumbotron">
  <h1>P97 Components Testing App</h1>
</div>

<div class="row marketing">
  <h2>Question Types</h2>
  
  <div>
    <h3>textarea</h3>
    <div textarea question="current.block.questions[0]" answer="formstack.current.answer"></div>
  </div>

  <div>
    <h3>datetime</h3>
    <div datetime question="current.block.questions[0]" answer="formstack.current.answer"></div>
  </div>

    <div>
    <h3>yes-no</h3>
    <div yes-no question="current.block.questions[0]" answer="formstack.current.answer"></div>
  </div>

    <div>
    <h3>number</h3>
    <div number question="current.block.questions[0]" answer="formstack.current.answer"></div>
  </div>
</div>


