/*********************************
$market-need-color: #F15c49;
$market-pending-color: #F0BF09;
$market-landed-color: #dff0d8;
***********************************/
$market-need-color:  #3FADFF;
$market-pending-color: #EBC766;
$market-landed-color: #28C460;

$brand-warning:         #EBC766;  // pending
$brand-danger:          #3FADFF;  // need


body {
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.container-fluid {
    width:100%;
}

.center-text {
    text-align: center;
}


.content {
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;
}

.error-text {
    color:#FF5A45;
    font-weight: normal;
    font-size: 14px;
}


.aside-backdrop {
    opacity: 0.3;
}

/**********************************
Surgical
**********************************/
.right {
    float:right;
}

@media (max-width: 768px) {
    .sm-center-text {
        text-align: center;
    }
    .right {
        float: none;
    }
}


.small {
    font-size:0.8em;
}

.margin-top {
    margin-top:1em !important;
}

.margin-bottom {
    margin-bottom:1em !important;
}

.no-margin {
    margin:0;
}

.no-padding {
    padding:0;
}

.padding {
  padding: 10px;
}

.override-container {
  margin-left: -15px;
  margin-right: -15px;
}

.debug:before {
    content: "For debugging only";
}


.hide {
    display:none;
}

.balanced {
    color: #4FBA8A;
}

.debug {
    display:none;
    font-size:0.8em;
    color: #999;
}


.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



/*****************************************
General
*****************************************/
p {
    font-size: 1.2em;
}


.clear-fix {
    display: inline-block;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.fa-2x {
  vertical-align: middle;
}


.bg-landed {
    background-color: $market-landed-color;
}



/******************************************
Modals
*******************************************/


.loading-modal {
    .loading-icon {
        font-size: 2em;
    }
    .modal-content {
        text-align: center;
        border:none;
        box-shadow: none;
        border-radius: 0;
        background-color:transparent;
        color:#FFF;
    }
}

.landing-modal {
    table {
        max-width:99%;
    }
    .modal-dialog {
        width:80% !important;
        max-width:none !important;
    }
    .panel {
        border:none;
    }
    .panel-heading {
        background-color:$market-landed-color;
    }
    .modal-content {
        border:none;
        box-shadow: none;
        border-radius: 6;
    }
}
.fa.one-half-x {
    font-size: 1.5em;
}

/******************************************
Lists
******************************************/
ul.lookup-lists {
    max-height:300px;
    overflow-y: scroll;
    li.selected {
        background-color:lighten($market-landed-color, 30);
    }
    li.list-group {
        padding: 5px 5px;
    }
}

dl {
    display: table;
    margin-bottom:0;
    dt {
        display:table-cell;
        text-align:right;
        width:140px;
        color:#707070;
    }
    dd {
        display:table-cell;
        padding-left:10px;

    }


}




/*****************************************
P97-Components
*****************************************/
.p97-single-select .select-wrapper {
    text-align: right;
}


/*****************************************
Forms
*****************************************/
.aside-dialog {
    width:450px;
    
    .yield-calc input {
        width: 100%;
    }

    button.btn-small {
        width: 100%;
        overflow: hidden;
    }
}

.error {
    color:#A94442;
    font-weight: normal;
    font-size: 14px;
}
form {
    input.ng-invalid.ng-dirty {
      border-color: #A94442;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }
    input.ng-invalid.ng-dirty:focus {
      border-color: #843534;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
    }

    input.ng-valid.ng-dirty {
        background-color: transparent;
        color: #555555;
    }
}


.button.button.large-button {
    font-size: large;
    margin: 3px;
}

.icon-large {
    font-size: x-large;
}

.icon-right {
    align-self:center;
}

.foreach-block-resp {
    line-height:1.5;
}


.question {
    .list:last-child {
        margin-bottom: 0.6em;
    }

    textarea {
        height: 4em;
    }

    .label:last-child {
        margin-bottom: 0.6em;
    }

    select {
        display: block;
        width:100%;
    }
}

.question > div > div, .question-label {
    font-size: 1.4em;
    font-weight: 450;
    padding-bottom: 0.6em;

}

.question > div > div:empty {
    display: none;
}

.multi-select,
.single-select {
    padding-bottom: 0;
}



/**********************************
Cards
**********************************/

.card {

    text-align:center;
}

.row>.card {
    width:100%;
}

.large-stat {
    font-size: 2em;
}


/**********************************
Panels
**********************************/

.panel-heading {
    font-size:1.2em;
    font-weight: bold;
}


/**********************************
Maps
**********************************/
html, body {
    width:100%;
    height:100%;
}

body {
    display: flex;
    flex-flow: column wrap;
}

.row.map-form {
    height: 100%;
}

.map-wrapper {
    flex: 1 1;
    order: 2;
    display: flex;
}

.left-panel {
    width: 300px;
    left: 0;
    z-index: 10;
    margin-left: 10px;

    label.item {
        font-size: 15px;
    }

    label.item,
    .item-content,
    div.error {
        white-space: normal;
    }
}

.vp-map {
    flex: 1;
}

.leaflet-control-zoom-display {
    background-color:#FFF;
    width: 22px;
    height: 22px;
    left: 3px;

    text-align: center;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
    padding-top: 0.3em;
}

.leaflet-control-layers-base {
    input[type="radio"],
    input[type="checkbox"] {
        height: 20px;
        width: 20px;
        top: 5px
    }

    label {
        font-size: 15px;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}

.for-each-item {
    padding-top: 0.6em;
    padding-bottom: 0.8em;
}

.leaflet-control-search .search-input {
    width: auto;
}


/**********************************
Smart Tables Styles
**********************************/

.table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 400px; /* this can vary */

    

    thead {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    tbody {
        overflow-y: scroll;
        display: inline-block;
        i {
            font-size:1.7em;
        }

    }

    thead > tr, tbody > tr, tfoot > tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    thead, tfoot {
        flex-shrink: 0;
    }

    th, tbody td {
        width: 20%; /* this can vary */
        overflow-x: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    tfoot {
        display: inline-block;
    }

    tfoot td {
        width: 100%;
        display: inline-block;
    }

    tr.need {
        background-color: $market-need-color;
    }
    tr.pending {
        background-color: $market-pending-color;
    }
    tr.landed {
        background-color: $market-landed-color;
    }

    tr.item-inactive {
        background-color: #CCC !important;
    }
    tr.item-new {
        background-color: #DFD !important;
    }

}

.table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.species-sample-table {
    font-size: 12px;
}

.users-table, .list-item-table {

    font-size: 12px;
    tbody tr:hover {
        background-color: #cdddff;
    }
}

/**********************************
Header
**********************************/
nav.navbar{
    padding-left:10px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3498b7 !important;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #C8C8C8;
}

.nav-pills {
  background-color: #C8C8C8;
}

.nav-pills > li > a {
  color: #000;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #a8a8a8;
  color: #000;
}

.nav-pills > li:first-child {
  padding-left: 15px;
}

.navbar-header img {
    height:'50px';
}

.navbar-header.header-link {
  a {
    color: rgb(51, 51, 51);
  }
}
/**********************************
Footer
**********************************/

.bar-footer {
    background-color:#c6c5c6;
    height: 65px;
    border-top: 1.75px solid #7a797a
}

.has-footer {
    bottom: 65px;
}

.bar.bar-stable {
    background-color: #414042;
    border-color: #666667;

    .title, .button {
        color: #FFFFFF;
    }
}